body{
	background-color:#73e600;
}
.calulator{
	text-align:center;
	background-color:gray;
	width:500px;
	min-height:150px;
	margin:0px auto;
}
label{
	margin-left:10px;
	float:left;
	display:block;
	background-color:gray;
}
input{
	width:50;
	display:block;
	margin:5px;
}
.output{
	color:lime;
}